<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/com-details.css"/>
    <link rel="stylesheet" type="text/css" href="css/detail.css" />
</head>
<body>
<div class="allbox">
    <!--头部导航栏-->
<div class="flex-container coming">
    <div class="flex-item">即将上映</div>
    <div class="flex-item  flex-container topsearch">
        <input class="search flex-item"  type="text" value=" 搜索如：天空之眼、昨日青空"/>
        <button class="sea-btn flex-item"></button>
    </div>
</div>
    <!--内容-->
    <h2>天空之眼(2018)</h2>
    <div class="flex-container">
        <img  class="flex-item image" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2411665175.webp"/>
        <div class="flex-item center ">
            <p >导演：加文·胡德</p>
            <p> 主演：海伦·米伦/亚伦·保尔/艾伦·瑞克曼/巴克德·阿巴蒂</p>
            <p>制片国家：英国/南非</p>
            <p>类型：剧情/战争</p>
            <p>上映时间：2018</p>
            <p>又名：天眼行动(台)/天眼狙击(港)/Eye in the Sky</p>
        </div>
        <div class="flex-item flex-container center-three center-son">
            <div class="flex-item flex-container movie-pf">
                <p class="flex-item">电影评分</p>
                <div class="flex-container flex-item">
                    <strong  class="flex-item fen">7.2</strong>
                    <div class="flex-item">
                        <img class="pfimg" src="images/imgs/pingfen.png" alt=""/>
                        <p class="pfnum">256430评价</p>
                    </div>
                </div>
                <img class="flex-item" src="images/imgs/14.png" alt=""/>
            </div>
            <div class="flex-item " >
                <p class="center-three-botom">好于 61% 喜剧</p>
                <p class="center-three-botom">好于 39% 剧情片</p>
            </div>
        </div>
        <div class="flex-item where center">
            <p class="center-last-one">在哪儿看这部电影......</p>
            <div class=" where-see">
                <a  href="">腾讯视频</a>
                <p >VIP免费</p>
            </div>
            <div class=" where-see">
                <a  href="">芒果TV</a>
                <p >VIP免费</p>
            </div>
            <div class=" where-see">
                <a  href="">优酷视频</a>
                <p >VIP免费</p>
            </div>
            <div class=" where-see">
                <a  href="">爱奇艺视频</a>
                <p >VIP免费</p>
            </div>
        </div>
    </div>

    <div class="summary" >简介：凯瑟琳上校（海伦·米伦 Helen Mirren 饰）率英国情报单位追捕一名女性恐怖分子长达六年，经由美军加入高空监
        视行动，好不容易在秘密基地找到疑似她的身影，特种部队准备活捉她时，高空侦查人员却意外发现该名恐怖分子正与其
        他人密谋自杀炸弹攻击，为了防止伤害，凯瑟琳下令轰炸秘密基地将敌人歼灭。当无人战斗机的驾驶员史蒂夫（亚伦·保
        尔 Aaron Paul 饰）瞄准目标后，却发现这个“秘密基地”竟然是普通的民居，而一名女孩更是跑进他的攻击范围玩耍，
        原本单纯的跨国逮捕行动瞬间变成复杂难解的反恐任务……</div>
</div>

<div class="foot">

    <!--热门频道-->
    <div class="foot-left">
        <p><strong>热门频道</strong></p>
        <ul class="left-ul">
            <li>
                <a href="#">电视剧</a>
            </li>
            <li>
                <a href="#">综艺</a>
            </li>
            <li>
                <a href="#">电影</a>
            </li>
            <li>
                <a href="#">动漫</a>
            </li>
            <li>
                <a href="#">娱乐</a>
            </li>
            <li>
                <a href="#">MV</a>
            </li>
            <li>
                <a href="#">动漫</a>
            </li>
            <li>
                <a href="#">游戏</a>
            </li>
            <li>
                <a href="#">VIP影院</a>
            </li>
            <li>
                <a href="#">英美剧</a>
            </li>
            <li>
                <a href="#">纪录片</a>
            </li>
            <li>
                <a href="#">新闻</a>
            </li>
            <li>
                <a href="#">体育</a>
            </li>
            <li>
                <a href="#">生活</a>
            </li>
        </ul>
    </div>
    <!--特色推荐-->
    <div class="foot-mid">
        <p><strong>特色推荐</strong></p>
        <ul class="mid-ul">
            <li>
                <a href="">原创自媒体</a>
            </li>
            <li>
                <a href="">微电影</a>
            </li>
            <li>
                <a href="">拍客</a>
            </li>
            <li>
                <a href="">腾讯Mac软件</a>
            </li>
        </ul>
    </div>
    <!--服务-->
    <div class="foot-right">
        <p><strong>服务</strong></p>
        <ul class="right-ul">
            <li>
                <a href="">客服</a>
            </li>
            <li>
                <a href="">反馈</a>
            </li>
            <li>
                <a href="">侵权投诉</a>
            </li>
            <li>
                <a href="">免广告合作</a>
            </li>
        </ul>
    </div>
    
    <!--关于我们-->
    <div class="foot-next">
        <p><strong>关于我们</strong></p>
        <ul class="next-ul">
            <li>
                <a href="">公司介绍</a>
            </li>
            <li>
                <a href="">新闻动态</a>
            </li>
            <li>
                <a href="">联系方式</a>
            </li>
            <li>
                <a href="">用户协议</a>
            </li>
            <li>
                <a href="">隐私政策</a>
            </li>
        </ul>
    </div>
    
    <!--招聘英才-->
    <div class="foot-finally">
        <p><strong>招聘英才</strong></p>
        <ul class="finally-ul">
            <li>
                <a href="">社会招聘</a>
            </li>
            <li>
                <a href="">校园招聘</a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>