<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>home</title>
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<script src="jquery-3.3.1/jquery-3.3.1测试开发.js"></script>
	<link rel="stylesheet" href="css/home.css">
	<link rel="stylesheet" type="text/css" href="css/detail.css" />
</head>

<body>
	<header>
		<div class="top">
			<div><img src="images/logo.png" class="logo" /></div>
			<div class="sousuo">
				<input type="text" name="test" id="test" value="" placeholder="爱追剧" />
				<p class="texts">热搜榜</p>
				<input type="button" name="sousuo" id="sousuo" value="搜索" />
			</div>
			<div class="login">
				<a href="#">登录</a>/<a href="#">注册</a>
			</div>
		</div>
	</header>

	<section style="margin-top:30px;">
		<a href="http://localhost:9999/hot">
			<div class="center content">
				<div class="navs">
					<h3>今日热门</h3>
					<ul>
						<li style='background-image:url("<%=datas1[0].images.small%>");background-size: contain;background-repeat: no-repeat'></li>
						<li style='background-image:url("<%=datas1[1].images.small%>");background-size: contain;background-repeat: no-repeat'></li>
						<li style='background-image:url("<%=datas1[2].images.small%>");background-size: contain;background-repeat: no-repeat'></li>
						<li style='background-image:url("<%=datas1[3].images.small%>");background-size: contain;background-repeat: no-repeat'></li>
						<li style='background-image:url("<%=datas1[4].images.small%>");background-size: contain;background-repeat: no-repeat'></li>
						<li style='background-image:url("<%=datas1[5].images.small%>");background-size: contain;background-repeat: no-repeat'></li>
						<li style='background-image:url("<%=datas1[6].images.small%>");background-size: contain;background-repeat: no-repeat'></li>
						<li style='background-image:url("<%=datas1[7].images.small%>");background-size: contain;background-repeat: no-repeat'></li>

					</ul>
				</div>
			</div>
		</a>
	</section>

	<section style="margin-top:30px;">
		<a href="http://localhost:9999/coming">
			<div class="center content">
				<div class="navs">
					<h3>即将上线</h3>
					<ul>
						<li style='background-image:url("<%=datas3[0].images.small%>");background-size: contain;background-repeat: no-repeat'></li>
						<li style='background-image:url("<%=datas3[1].images.small%>");background-size: contain;background-repeat: no-repeat'></li>
						<li style='background-image:url("<%=datas3[2].images.small%>");background-size: contain;background-repeat: no-repeat'></li>
						<li style='background-image:url("<%=datas3[3].images.small%>");background-size: contain;background-repeat: no-repeat'></li>
						<li style='background-image:url("<%=datas3[4].images.small%>");background-size: contain;background-repeat: no-repeat'></li>
						<li style='background-image:url("<%=datas3[5].images.small%>");background-size: contain;background-repeat: no-repeat'></li>
						<li style='background-image:url("<%=datas3[6].images.small%>");background-size: contain;background-repeat: no-repeat'></li>
						<li style='background-image:url("<%=datas3[7].images.small%>");background-size: contain;background-repeat: no-repeat'></li>
					</ul>
				</div>
			</div>
		</a>
	</section>

	<section style="margin-top:30px;">
		<a href="http://localhost:9999/index">
			<div class="center content">
				<div class="navs">
					<h3>top排行榜</h3>
					<ul>
						<li style='background-image:url("<%=datas2[0].images.small%>");background-size: contain;background-repeat: no-repeat'></li>
						<li style='background-image:url("<%=datas2[1].images.small%>");background-size: contain;background-repeat: no-repeat'></li>
						<li style='background-image:url("<%=datas2[2].images.small%>");background-size: contain;background-repeat: no-repeat'></li>
						<li style='background-image:url("<%=datas2[3].images.small%>");background-size: contain;background-repeat: no-repeat'></li>
						<li style='background-image:url("<%=datas2[4].images.small%>");background-size: contain;background-repeat: no-repeat'></li>
						<li style='background-image:url("<%=datas2[5].images.small%>");background-size: contain;background-repeat: no-repeat'></li>
						<li style='background-image:url("<%=datas2[6].images.small%>");background-size: contain;background-repeat: no-repeat'></li>
						<li style='background-image:url("<%=datas2[7].images.small%>");background-size: contain;background-repeat: no-repeat'></li>
					</ul>
				</div>
			</div>
		</a>
	</section>


	<div class="foot" style="margin:50px auto;width: 80%">

		<!--热门频道-->
		<div class="foot-left">
			<p><strong>热门频道</strong></p>
			<ul class="left-ul">
				<li>
					<a href="#">电视剧</a>
				</li>
				<li>
					<a href="#">综艺</a>
				</li>
				<li>
					<a href="#">电影</a>
				</li>
				<li>
					<a href="#">动漫</a>
				</li>
				<li>
					<a href="#">娱乐</a>
				</li>
				<li>
					<a href="#">MV</a>
				</li>
				<li>
					<a href="#">动漫</a>
				</li>
				<li>
					<a href="#">游戏</a>
				</li>
				<li>
					<a href="#">VIP影院</a>
				</li>
				<li>
					<a href="#">英美剧</a>
				</li>
				<li>
					<a href="#">纪录片</a>
				</li>
				<li>
					<a href="#">新闻</a>
				</li>
				<li>
					<a href="#">体育</a>
				</li>
				<li>
					<a href="#">生活</a>
				</li>
			</ul>
		</div>
		<!--特色推荐-->
		<div class="foot-mid">
			<p><strong>特色推荐</strong></p>
			<ul class="mid-ul">
				<li>
					<a href="">原创自媒体</a>
				</li>
				<li>
					<a href="">微电影</a>
				</li>
				<li>
					<a href="">拍客</a>
				</li>
				<li>
					<a href="">腾讯Mac软件</a>
				</li>
			</ul>
		</div>
		<!--服务-->
		<div class="foot-right">
			<p><strong>服务</strong></p>
			<ul class="right-ul">
				<li>
					<a href="">客服</a>
				</li>
				<li>
					<a href="">反馈</a>
				</li>
				<li>
					<a href="">侵权投诉</a>
				</li>
				<li>
					<a href="">免广告合作</a>
				</li>
			</ul>
		</div>

		<!--关于我们-->
		<div class="foot-next">
			<p><strong>关于我们</strong></p>
			<ul class="next-ul">
				<li>
					<a href="">公司介绍</a>
				</li>
				<li>
					<a href="">新闻动态</a>
				</li>
				<li>
					<a href="">联系方式</a>
				</li>
				<li>
					<a href="">用户协议</a>
				</li>
				<li>
					<a href="">隐私政策</a>
				</li>
			</ul>
		</div>

		<!--招聘英才-->
		<div class="foot-finally">
			<p><strong>招聘英才</strong></p>
			<ul class="finally-ul">
				<li>
					<a href="">社会招聘</a>
				</li>
				<li>
					<a href="">校园招聘</a>
				</li>
			</ul>
		</div>
	</div>
</body>

</html>