<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="js/data.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="css/tiao.css"/>
		<link rel="stylesheet" type="text/css" href="css/detail.css" />
	</head>
	<body>
		
		<strong class="ziti" style="margin:20px auto;width:60%">
			天空之眼
		  </strong>
		  <div class="flex-container diyi" style="margin:20px auto;width:60%">
		  	<div class="flex-item dleft">
			  
		 	      <img src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2411665175.webp"/> 
		 	 
			</div>
			<div class="flex-item  dright">
			  <span>导演：加文·胡德 </span>
		 	  <span>主演：海伦·米伦/亚·保尔/艾伦·瑞克曼</span>
		 	  <span>类型：'剧情', '战争'</span>
		 	  <span>制片国家/地区：'英国', '南非'</span>
		 	  <span>又名：'天眼行动(台)', '天眼狙击(港)'</span>
		 	  <span>上映时间：2018</span>
		 	 
			</div>
			
			 <div class="dr flex-item">
		  	<img src="images/img/xingxing.png"/>
		  	<img src="images/img/pignjia.png" />
		  </div>
		  
		  </div>
		  
		 
		 
		    

    <div class="jianjie" style="margin:20px auto;width:60%">简介：凯瑟琳上校（海伦·米伦 Helen Mirren 饰）率英国情报单位追捕一名女性恐怖分子长达六年，经由美军加入高空监
        视行动，好不容易在秘密基地找到疑似她的身影，特种部队准备活捉她时，高空侦查人员却意外发现该名恐怖分子正与其
        他人密谋自杀炸弹攻击，为了防止伤害，凯瑟琳下令轰炸秘密基地将敌人歼灭。当无人战斗机的驾驶员史蒂夫（亚伦·保
        尔 Aaron Paul 饰）瞄准目标后，却发现这个“秘密基地”竟然是普通的民居，而一名女孩更是跑进他的攻击范围玩耍，
        原本单纯的跨国逮捕行动瞬间变成复杂难解的反恐任务……</div>

		  
		  
		  
		  
		  
		<div class="foot" style="margin:20px auto;width:70%">

			<!--热门频道-->
			<div class="foot-left">
				<p><strong>热门频道</strong></p>
				<ul class="left-ul">
					<li>
						<a href="#">电视剧</a>
					</li>
					<li>
						<a href="#">综艺</a>
					</li>
					<li>
						<a href="#">电影</a>
					</li>
					<li>
						<a href="#">动漫</a>
					</li>
					<li>
						<a href="#">娱乐</a>
					</li>
					<li>
						<a href="#">MV</a>
					</li>
					<li>
						<a href="#">动漫</a>
					</li>
					<li>
						<a href="#">游戏</a>
					</li>
					<li>
						<a href="#">VIP影院</a>
					</li>
					<li>
						<a href="#">英美剧</a>
					</li>
					<li>
						<a href="#">纪录片</a>
					</li>
					<li>
						<a href="#">新闻</a>
					</li>
					<li>
						<a href="#">体育</a>
					</li>
					<li>
						<a href="#">生活</a>
					</li>
				</ul>
			</div>
			<!--特色推荐-->
			<div class="foot-mid">
				<p><strong>特色推荐</strong></p>
				<ul class="mid-ul">
					<li>
						<a href="">原创自媒体</a>
					</li>
					<li>
						<a href="">微电影</a>
					</li>
					<li>
						<a href="">拍客</a>
					</li>
					<li>
						<a href="">腾讯Mac软件</a>
					</li>
				</ul>
			</div>
			<!--服务-->
			<div class="foot-right">
				<p><strong>服务</strong></p>
				<ul class="right-ul">
					<li>
						<a href="">客服</a>
					</li>
					<li>
						<a href="">反馈</a>
					</li>
					<li>
						<a href="">侵权投诉</a>
					</li>
					<li>
						<a href="">免广告合作</a>
					</li>
				</ul>
			</div>
			
			<!--关于我们-->
			<div class="foot-next">
				<p><strong>关于我们</strong></p>
				<ul class="next-ul">
					<li>
						<a href="">公司介绍</a>
					</li>
					<li>
						<a href="">新闻动态</a>
					</li>
					<li>
						<a href="">联系方式</a>
					</li>
					<li>
						<a href="">用户协议</a>
					</li>
					<li>
						<a href="">隐私政策</a>
					</li>
				</ul>
			</div>
			
			<!--招聘英才-->
			<div class="foot-finally">
				<p><strong>招聘英才</strong></p>
				<ul class="finally-ul">
					<li>
						<a href="">社会招聘</a>
					</li>
					<li>
						<a href="">校园招聘</a>
					</li>
				</ul>
			</div>
		</div>
		
		
	</body>
</html>
